@import "variables";

.graphic-menu {
  margin-bottom: 70px;
}

.heavy {
  font-size: 30px;
  color: $color-secondary-alt;
  margin-top: 45px;
}

.heavy-middle {
  font-size: 30px;
  color: $color-secondary-alt;
  border-left: 2px solid $color-white-alt;
  border-right: 2px solid $color-white-alt;
  padding: 30px;
  margin-top: 18px;

  h5:nth-child(3) {
    margin-top: 37px;
  }
}

.title {
  font-size: 24px;
  color: $color-white-alt;
}

.view-docs {
  color: $color-white;
  text-decoration: underline;
}

.question {
  font-size: 18px;
  color: $color-white;
}

.answer {
  font-size: 18px;
  color: $color-white;
  text-decoration: underline;
  padding-top: 4px;
  padding-bottom: 29px;
}

.answer-code {
  font-size: 18px;
  color: $color-white;
  padding-top: 4px;
  padding-bottom: 29px;
}

.row div:nth-child(2) h5:nth-child(5) {
  margin: 30px 0;
}

.content-wrap {
  max-width: 700px;
  padding-top: 28px;
  margin: 0 auto;
}
